<!DOCTYPE html>
<html>

<head>
    <title>Popat</title>
    <!--Fontawesome-->
    <link href="./assets/vendors/font-awesome/fonts/fontawesome-webfont.woff" rel="application/font-woff">
    <link href="./assets/vendors/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!--CSS de Bootstrap -->
    <link rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.min.css" />

    <!--CSS propio-->
    <link rel="stylesheet" type="text/css" href="./../../css/home.css">

</head>

<body>
    <!--Cabecera-->
    <nav>
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </nav>
    <!--Slider-->


    <!--Categorias-->


    <!--Contacto-->


    <!--Footer-->

</body>
<footer>
    <!--jQuery-->
    <script src="./assets/vendors/jquery/jquery.min.js"></script>
    <!--Boostrap-->
    <script src="./assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!--MainScripts-->
    <script type="text/javascript" src="./assets/js/main.js"></script>
</footer>

</html>