#boton {
    margin-left: 79%;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.main {
    float: right;
}

.sidenav {
    height: 100%;
    background-color: #f16e94;
}

.no-padding {
    padding: 0%;
}

.no-margin {
    margin: 0%;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {}

@media screen and (max-width: 450px) {
    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .register-form {
        margin-top: 20%;
    }
}

@media screen and (min-width: 1000px) {
    .main {
        float: right;
    }
    .sidenav {
        position: fixed;
        height: 100%;
        background-color: #f16e94;
        overflow-x: hidden;
        padding-top: 5%;
    }
    .sidenav img {
        padding-top: 22%;
    }
    .login-form {
        margin-top: 20%;
    }
    .register-form {
        margin-top: 20%;
    }
}

.login-main-text h2 {
    font-weight: lighter;
    color: #fff;
}

.btn-black {
    background-color: #f16e94 !important;
    color: #fff;
}

#boton:hover {
    background-image: linear-gradient(to bottom right, #f16e94, #f3b3c5);
    color: white;
}

#registro {
    margin-top: 5%;
}

#registro a {
    color: #f16e94;
}