/*   Inés Carazo Núñez  */

* {
    font-family: 'Cousine';
}
#contenedor {
    background-image: url("./../images/icono/light_pink/cleaner256.png");
    background-repeat: no-repeat;
    background-position-x: 37%;
    background-position-y: 34%;
}

section{
    margin-top: 5%;
}


/* SECCIÓN CABECERA*/

#titulo {
    text-align: center;
    padding-top: 2.5%;
}

#logo {
    padding-top: 1%;
}


/* SECCIÓN CABECERA*/


/* SECCIÓN FORMULARIO*/

input[type=text], input[type=password], input[type=email], input[type=date]{
    width: 50%;
}

input, label{
    margin-left: 25%;
}

#secForm{
    height: 450px;
    /* margin-top: 10%; */
}

.btn-default:hover {
    background-image: linear-gradient(to bottom right, #f16e94, #f3b3c5);
    color: white;
}


/* SECCIÓN FORMULARIO*/


/* SECCIÓN FOOTER*/

#footer {
    padding: 20px 0;
    background: #D1D1D1;
    text-align: center;
}

#footer p {
    margin: 0;
    color: #999999;
}

#footer a {
    color: #999999;
}

#footer a:hover {
    color: #FFFFFF;
}


/* SECCIÓN FOOTER*/