<table>
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Fecha de nacimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="radio">
                    <label><input type="radio" name="optradio" checked>Option 1</label>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>