<div class='container-fluid col-md-12'>
    <form method='POST' action='?empleado=pagos'>
        <div class='form-group'>
            <label class='col-md-3 form-label' for='progCliente'>Empleado</label>
            <div class='col-md-9'>
                ". generarSelectEmpleadosPagos() ."
            </div>
        </div>

        <div class='form-group'>
            <div class='col-md-offset-9 col-md-3' '>
        <button  id='searchPagos '  name='searchPagos ' type='submit ' class='btn estilo-btn '>Buscar</button>
        </div>
    </div>
    </form>
</div>
<div class='container-fluid '>
</div>